<!DOCTYPE html>
<html lang="en">
 
<div class="container-fluid">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
<h1 class="text-muted text-center" style="color: black">Malcom Gladwell</h1>
<h2 class="text-muted text-center"><i>Author, Journalist, Podcaster, and Public Speaker</i></h2>
  <br>
<div class="text-center">
  <img src="https://media.newyorker.com/photos/59097b70019dfc3494ea36cf/master/w_300,c_limit/gladwell-malcolm.png" alt="A cartoon illustration of Malcolm Gladwell courtesy of The New Yorker." class="figure-image img-fluid"></img>
  <div class="caption text-center">An illustration of Malcolm Gladwell courtesy of The New Yorker.</div>
</div>
<br>
<div class="text-center"
<h3> As a staff writer for the New York Times since 1996, Malcolm Gladwell has written several best-sellers that include The Tipping Point: How Little Things Can Make A Big Difference, Blink: The Power of Thinking Without Thinking, and many more. Each of his 5 books have found a home on the New York Time's Bestseller's List and deal with implications relating to psychology, sociology, and everyday life</h3>
<br>
<br>
<div 
<p>
</div>
</div>
